In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import pymysql
import pandas as pd
from bs4 import BeautifulSoup
import pymysql, calendar, time, json
import requests
from datetime import date, datetime, timezone, timedelta
from threading import Timer

In [ ]:
host="YOUR HOST"
port=3306
db="YOUR DB"
user="YOUR USER"
passwd="YOUR PASSWD"

In [ ]:
conn = pymysql.connect(host=host, user=user, password=passwd, db=db, charset='utf8')

In [ ]:
cursor = conn.cursor()

#네이버 뉴스 크롤링 후 원격 DB에 저장

In [ ]:
!pip install requests	beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 뉴스 데이터를 크롤링하는 함수
def crawl_news(code, page):
    url = 'https://finance.naver.com/item/news_news.nhn?code=%s&page=%s' % (code, page)
    print(f"크롤링 URL: {url}")

    row_list = []
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    trs = soup.table.tbody.find_all('tr')

    for tr in trs:
        tds = tr.find_all('td')
        if tds[0].table:  # 연관 기사
            continue
        else:
            링크 = 'https://finance.naver.com/' + tds[0].a['href'].split('&page')[0]
            제목 = tds[0].text.strip()
            제공 = tds[1].text.strip()
            시간 = tds[2].text.strip()
            row_list.append([링크, 제목, 제공, 시간])
            print(링크, 제목, 제공, 시간)

    return row_list

# 마지막 페이지 번호를 얻는 함수
def get_last_page_num(code):
    url = 'https://finance.naver.com/item/news_news.nhn?code=' + code
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    td_pgrr = soup.find('td', attrs={'class':'pgRR'})
    if td_pgrr:  # '맨뒤' 텍스트가 있는 경우
        return int(td_pgrr.a['href'].split('page=')[1])
    return 1

# 크롤링할 종목 코드
code = '005930'
enterprise = "삼성전자"

num = 1

# 모든 페이지에 대해 크롤링 수행
all_news = []
for page in range(1, num + 1):
    news = crawl_news(code, page)
    all_news.extend(news)

# 데이터프레임으로 변환
df = pd.DataFrame(all_news, columns=['Link', 'Title', 'Provider', 'Time'])

# CSV 파일로 저장
csv_filename = f'{enterprise}_news.csv'
df.to_csv(csv_filename, index=False, encoding='utf-8-sig')

print(f"뉴스 데이터를 {csv_filename} 파일로 저장했습니다.")

크롤링 URL: https://finance.naver.com/item/news_news.nhn?code=005930&page=1
https://finance.naver.com//item/news_read.naver?article_id=0001164130&office_id=215&code=005930 삼성전자 노조 파업 선언…창사 55년만에 처음
동영상기사 한국경제TV 2024.05.29 14:34
https://finance.naver.com//item/news_read.naver?article_id=0012575032&office_id=003&code=005930 삼성전자 사상 첫 '파업 선언'…전삼노는 어떤 노조? 뉴시스 2024.05.29 14:26
https://finance.naver.com//item/news_read.naver?article_id=0002315198&office_id=016&code=005930 “지금 삼성 위기 아니다”라는 노조…왜 창사 첫 파업 강행하나 [비즈... 헤럴드경제 2024.05.29 14:21
https://finance.naver.com//item/news_read.naver?article_id=0000291860&office_id=629&code=005930 [특징주] 삼성전자, 창사 이래 첫 노조 파업에 2%대 약세 더팩트 2024.05.29 14:10
https://finance.naver.com//item/news_read.naver?article_id=0012574894&office_id=003&code=005930 삼성전자, 창사 이래 첫 파업 소식에…2%대 하락 뉴시스 2024.05.29 13:48
https://finance.naver.com//item/news_read.naver?article_id=0001159073&office_id=055&code=005930 삼성전자 창사이래 첫 노조 파업 선언…"내달 7일 연차 소진" SBS 2024.05.29 13:47
https://finance.naver.com//item/news_read.naver?article_id=0012574563&office_id=003&code=005930 삼성전자 노조, "단계 밟아 파업 확산하겠다" 뉴시스 2024.05.29 12:04
https://finance.naver.com//item/news_read.naver?article_id=0003899944&office_id=079&code=005930 밸류업 한다더니…코스피 배당금 4% 증가, 코스닥은 감소 노컷뉴스 2024.05.29 14:31
https://finance.naver.com//item/news_read.naver?article_id=0012574905&office_id=003&code=005930 지난해 상장사 배당금 30조원…1위 삼성전자 2조4500억 뉴시스 2024.05.29 13:50
https://finance.naver.com//item/news_read.naver?article_id=0000840356&office_id=031&code=005930 예탁원, 23년 12월 결산 상장법인 배당금 29조원 아이뉴스24 2024.05.29 13:07
https://finance.naver.com//item/news_read.naver?article_id=0014714976&office_id=001&code=005930 [연합뉴스 이 시각 헤드라인] - 14:30 연합뉴스 2024.05.29 14:30
https://finance.naver.com//item/news_read.naver?article_id=0000054936&office_id=293&code=005930 드림텍, 50억원 규모 자사주 취득 신탁계약 체결 블로터 2024.05.29 14:24
https://finance.naver.com//item/news_read.naver?article_id=0004990432&office_id=015&code=005930 [마켓칼럼] 글로벌 주요 시장 역사적 신고가 경신 한국경제 2024.05.29 14:23
https://finance.naver.com//item/news_read.naver?article_id=0000075644&office_id=050&code=005930 모건스탠리, 엔비디아 열풍에 한국 SK하이닉스 꼽아 한경비즈니스 2024.05.29 14:12
https://finance.naver.com//item/news_read.naver?article_id=0005310673&office_id=009&code=005930 모건스탠리 “SK하이닉스 상승여력 33%” ··· 삼성전자는 빠져 매일경제 2024.05.29 13:47
https://finance.naver.com//item/news_read.naver?article_id=0002834540&office_id=119&code=005930 삼성전자 노조리스크 직격탄…민주노총 개입에 노노갈등까지 데일리안 2024.05.29 14:11
https://finance.naver.com//item/news_read.naver?article_id=0002834513&office_id=119&code=005930 삼성그룹 초기업 노조 "전삼노 행보, 민주노총 가입 위한 발판 우려" 데일리안 2024.05.29 12:48
https://finance.naver.com//item/news_read.naver?article_id=0003210045&office_id=030&code=005930 삼성전자, 시스템 반도체 AI기술로 설계한다 전자신문 2024.05.29 14:11
https://finance.naver.com//item/news_read.naver?article_id=0000385705&office_id=374&code=005930 [이슈 따라잡기] 처벌반복되는 반도체 기술 유출…막을 대책 없나?
동영상기사 SBS Biz 2024.05.29 14:10
https://finance.naver.com//item/news_read.naver?article_id=0011730695&office_id=056&code=005930 삼성전자 노조, 사상 첫 파업 선언
동영상기사 KBS 2024.05.29 14:10
https://finance.naver.com//item/news_read.naver?article_id=0004346480&office_id=011&code=005930 15조 적자에도…삼성 노조 55년만에 첫 파업 선언 서울경제 2024.05.29 13:52
https://finance.naver.com//item/news_read.naver?article_id=0004990418&office_id=015&code=005930 '창사 첫 파업 선언' 삼성전자, 장중 2%대 '하락' 한국경제 2024.05.29 13:49
https://finance.naver.com//item/news_read.naver?article_id=0000662263&office_id=422&code=005930 삼성전자 노조, 첫 파업 선언…"노동자 무시해"
동영상기사 연합뉴스TV 2024.05.29 13:20
https://finance.naver.com//item/news_read.naver?article_id=0011730649&office_id=056&code=005930 삼성전자 노조, 파업 선언…사상 처음
동영상기사 KBS 2024.05.29 12:17
https://finance.naver.com//item/news_read.naver?article_id=0005751135&office_id=018&code=005930 [특징주]삼성전자, 사상 첫 노조 파업에 1%대 하락 전환 이데일리 2024.05.29 12:12
https://finance.naver.com//item/news_read.naver?article_id=0001351574&office_id=214&code=005930 삼성전자 노조, 사상 첫 파업 선언
동영상기사 MBC 2024.05.29 12:08
https://finance.naver.com//item/news_read.naver?article_id=0002315159&office_id=016&code=005930 “하이닉스는 신고가, 삼성전자는 파업”…‘사상 첫 노조 파업’發 주가... 헤럴드경제 2024.05.29 12:07
https://finance.naver.com//item/news_read.naver?article_id=0003899892&office_id=079&code=005930 삼성전자 노조, 사상 처음 파업…"6월 7일 단체 연차부터" 노컷뉴스 2024.05.29 12:01
뉴스 데이터를 삼성전자_news.csv 파일로 저장했습니다.

In [ ]:
df = pd.read_csv("/content/삼성전자_news.csv")
df

,Link,Title,Provider,Time
0,https://finance.naver.com//item/news_read.nave...,삼성전자 노조 파업 선언…창사 55년만에 처음\n동영상기사,한국경제TV,2024.05.29 14:34
1,https://finance.naver.com//item/news_read.nave...,삼성전자 사상 첫 '파업 선언'…전삼노는 어떤 노조?,뉴시스,2024.05.29 14:26
2,https://finance.naver.com//item/news_read.nave...,“지금 삼성 위기 아니다”라는 노조…왜 창사 첫 파업 강행하나 [비즈...,헤럴드경제,2024.05.29 14:21
3,https://finance.naver.com//item/news_read.nave...,"[특징주] 삼성전자, 창사 이래 첫 노조 파업에 2%대 약세",더팩트,2024.05.29 14:10
4,https://finance.naver.com//item/news_read.nave...,"삼성전자, 창사 이래 첫 파업 소식에…2%대 하락",뉴시스,2024.05.29 13:48
5,https://finance.naver.com//item/news_read.nave...,"삼성전자 창사이래 첫 노조 파업 선언…""내달 7일 연차 소진""",SBS,2024.05.29 13:47
6,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, ""단계 밟아 파업 확산하겠다""",뉴시스,2024.05.29 12:04
7,https://finance.naver.com//item/news_read.nave...,"밸류업 한다더니…코스피 배당금 4% 증가, 코스닥은 감소",노컷뉴스,2024.05.29 14:31
8,https://finance.naver.com//item/news_read.nave...,지난해 상장사 배당금 30조원…1위 삼성전자 2조4500억,뉴시스,2024.05.29 13:50
9,https://finance.naver.com//item/news_read.nave...,"예탁원, 23년 12월 결산 상장법인 배당금 29조원",아이뉴스24,2024.05.29 13:07
10,https://finance.naver.com//item/news_read.nave...,[연합뉴스 이 시각 헤드라인] - 14:30,연합뉴스,2024.05.29 14:30
11,https://finance.naver.com//item/news_read.nave...,"드림텍, 50억원 규모 자사주 취득 신탁계약 체결",블로터,2024.05.29 14:24
12,https://finance.naver.com//item/news_read.nave...,[마켓칼럼] 글로벌 주요 시장 역사적 신고가 경신,한국경제,2024.05.29 14:23
13,https://finance.naver.com//item/news_read.nave...,"모건스탠리, 엔비디아 열풍에 한국 SK하이닉스 꼽아",한경비즈니스,2024.05.29 14:12
14,https://finance.naver.com//item/news_read.nave...,모건스탠리 “SK하이닉스 상승여력 33%” ··· 삼성전자는 빠져,매일경제,2024.05.29 13:47
15,https://finance.naver.com//item/news_read.nave...,삼성전자 노조리스크 직격탄…민주노총 개입에 노노갈등까지,데일리안,2024.05.29 14:11
16,https://finance.naver.com//item/news_read.nave...,"삼성그룹 초기업 노조 ""전삼노 행보, 민주노총 가입 위한 발판 우려""",데일리안,2024.05.29 12:48
17,https://finance.naver.com//item/news_read.nave...,"삼성전자, 시스템 반도체 AI기술로 설계한다",전자신문,2024.05.29 14:11
18,https://finance.naver.com//item/news_read.nave...,[이슈 따라잡기] 처벌반복되는 반도체 기술 유출…막을 대책 없나?\n동영상기사,SBS Biz,2024.05.29 14:10
19,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, 사상 첫 파업 선언\n동영상기사",KBS,2024.05.29 14:10
20,https://finance.naver.com//item/news_read.nave...,15조 적자에도…삼성 노조 55년만에 첫 파업 선언,서울경제,2024.05.29 13:52
21,https://finance.naver.com//item/news_read.nave...,"'창사 첫 파업 선언' 삼성전자, 장중 2%대 '하락'",한국경제,2024.05.29 13:49
22,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, 첫 파업 선언…""노동자 무시해""\n동영상기사",연합뉴스TV,2024.05.29 13:20
23,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, 파업 선언…사상 처음\n동영상기사",KBS,2024.05.29 12:17
24,https://finance.naver.com//item/news_read.nave...,"[특징주]삼성전자, 사상 첫 노조 파업에 1%대 하락 전환",이데일리,2024.05.29 12:12
25,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, 사상 첫 파업 선언\n동영상기사",MBC,2024.05.29 12:08
26,https://finance.naver.com//item/news_read.nave...,"“하이닉스는 신고가, 삼성전자는 파업”…‘사상 첫 노조 파업’發 주가...",헤럴드경제,2024.05.29 12:07
27,https://finance.naver.com//item/news_read.nave...,"삼성전자 노조, 사상 처음 파업…""6월 7일 단체 연차부터""",노컷뉴스,2024.05.29 12:01

In [ ]:
# 테이블 생성
table_name = 'news_table_last'
create_table_sql = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    code VARCHAR(10),
    link TEXT,
    title TEXT,
    provider VARCHAR(100),
    time DATETIME
)
"""
cursor.execute(create_table_sql)

0

In [ ]:
def replace_into_db_news(df, num, code, company):
    """네이버에서 읽어온 주식 뉴스를 DB에 REPLACE"""
    with conn.cursor() as curs:
        for r in df.itertuples():
            sql = f"""
            REPLACE INTO {table_name} (code, link, title, provider, time) VALUES (%s, %s, %s, %s, %s)
            """
            curs.execute(sql, (code, r.Link, r.Title, r.Provider, r.Time))
        conn.commit()
        print('[{}] #{:04d} {} ({}) : {} rows > REPLACE INTO news_table [OK]'.format(
            datetime.now().strftime('%Y-%m-%d %H:%M'),
            num + 1,
            company,
            code,
            len(df)
        ))

# 예제 실행
replace_into_db_news(df, 0, code, enterprise)

conn.commit()

[2024-05-29 05:39] #0001 삼성전자 (005930) : 28 rows > REPLACE INTO news_table [OK]

#주식 크롤링 후 원격 DB에 저장

In [ ]:
with conn.cursor() as curs:
  sql = """
  CREATE TABLE IF NOT EXISTS company_info (
      code VARCHAR(20),
      company VARCHAR(40),
      last_update DATE,
      PRIMARY KEY (code))
  """
  curs.execute(sql)
  sql = """
  CREATE TABLE IF NOT EXISTS daily_price (
      code VARCHAR(20),
      date DATE,
      open BIGINT(20),
      high BIGINT(20),
      low BIGINT(20),
      close BIGINT(20),
      diff BIGINT(20),
      volume BIGINT(20),
      PRIMARY KEY (code, date))
  """
  curs.execute(sql)
  #curs.close()

In [ ]:
def read_naver_realtime(code, company):
    """네이버에서 실시간 주식 시세를 읽어서 반환"""
    try:
        url = f"http://finance.naver.com/item/sise_day.nhn?code={code}"
        html = BeautifulSoup(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text, "lxml")
        price_tab = html.find("td", class_="num")
        realtime_price = price_tab.span.text
        KST = timezone(timedelta(hours=9))
        now = datetime.now(KST).strftime('%Y-%m-%d %H:%M')
    except Exception as e:
        print('Exception occured :', str(e))
        return None
    return realtime_price, now

In [ ]:
def read_naver_timely(code, company):
    """네이버에서 분단위 주식 시세를 읽어서 반환"""
    try:
      KST = timezone(timedelta(hours=9))
      now = datetime.now(KST).strftime('%Y%m%d%H%M%S')
      url = f"https://finance.naver.com/item/sise_time.naver?code={code}&thistime={now}"
      df = pd.read_html(requests.get(url,headers={'User-agent': 'Mozilla/5.0'}).text)[0]
      df = df.dropna()
      df["day"] = now[:8]
    except Exception as e:
        print('Exception occured :', str(e))
        return None
    return df

In [ ]:
def replace_into_db_min(df, num, code, company):
  """네이버에서 읽어온 주식 시세를 DB에 REPLACE"""
  with conn.cursor() as curs:
      for r in df.itertuples():
          sql = f"REPLACE INTO timely_price VALUES ('{code}', "\
              f"'{r.date}', {r.open}, {r.high}, {r.low}, {r.close}, "\
              f"{r.diff}, {r.volume})"
          curs.execute(sql)
      conn.commit()
      print('[{}] #{:04d} {} ({}) : {} rows > REPLACE INTO daily_'\
          'price [OK]'.format(datetime.now().strftime('%Y-%m-%d'\
          ' %H:%M'), num+1, company, code, len(df)))

In [ ]:
import time

k=0
while True :
  price, kr_time = read_naver_realtime('005930', "삼성전자")
  print(price, kr_time)
  conn = pymysql.connect(host=host, user=user, password=passwd, db=db, charset='utf8')
  cursor = conn.cursor()
  cursor.execute(sql)
  k +=1
  time.sleep(60)

  if k == 30:
    break

75,900 2024-05-29 14:08
75,900 2024-05-29 14:09
75,700 2024-05-29 14:10
75,700 2024-05-29 14:11
75,700 2024-05-29 14:12
75,800 2024-05-29 14:13
75,800 2024-05-29 14:14
75,800 2024-05-29 14:15
75,800 2024-05-29 14:16
75,700 2024-05-29 14:17
75,700 2024-05-29 14:18
75,700 2024-05-29 14:19
75,700 2024-05-29 14:20
75,600 2024-05-29 14:21
75,600 2024-05-29 14:22
75,600 2024-05-29 14:23
75,600 2024-05-29 14:24
75,700 2024-05-29 14:25
75,700 2024-05-29 14:26
75,600 2024-05-29 14:27
75,500 2024-05-29 14:28
75,600 2024-05-29 14:29
75,500 2024-05-29 14:30
75,500 2024-05-29 14:31
75,500 2024-05-29 14:32
75,500 2024-05-29 14:33
75,500 2024-05-29 14:34
75,400 2024-05-29 14:35
75,400 2024-05-29 14:36
75,400 2024-05-29 14:37

In [ ]:
with conn.cursor() as curs:
  sql = """
  CREATE TABLE IF NOT EXISTS timely_price (
      code VARCHAR(20),
      date DATETIME,
      price BIGINT(20),
      volume BIGINT(20),
      diff BIGINT(20),
      PRIMARY KEY (code, date))
  """
  curs.execute(sql)
  curs.close()

In [ ]:
df_time = read_naver_timely('005930', "삼성전자")

In [ ]:
df_time

,체결시각,체결가,전일비,매도,매수,거래량,변동량,day
1,14:38,75400.0,"하락 2,200",75400.0,75300.0,23384222.0,816.0,20240529
2,14:37,75400.0,"하락 2,200",75400.0,75300.0,23383406.0,36395.0,20240529
3,14:36,75400.0,"하락 2,200",75400.0,75300.0,23347011.0,55094.0,20240529
4,14:35,75300.0,"하락 2,300",75400.0,75300.0,23291917.0,167701.0,20240529
5,14:34,75400.0,"하락 2,200",75500.0,75400.0,23124216.0,57359.0,20240529
9,14:33,75400.0,"하락 2,200",75500.0,75400.0,23066857.0,87664.0,20240529
10,14:32,75500.0,"하락 2,100",75500.0,75400.0,22979193.0,75475.0,20240529
11,14:31,75500.0,"하락 2,100",75500.0,75400.0,22903718.0,93310.0,20240529
12,14:30,75500.0,"하락 2,100",75500.0,75400.0,22810408.0,336929.0,20240529
13,14:29,75500.0,"하락 2,100",75600.0,75500.0,22473479.0,91781.0,20240529

In [ ]:
def replace_into_db_timely(df, code, company):
  """네이버에서 분단위로 읽어온 주식 시세를 DB에 REPLACE"""
  with conn.cursor() as curs:
    for idx in range(len(df)):
      day = df.iloc[idx]["day"]
      time = df.iloc[idx]["체결시각"]
      price = df.iloc[idx]["체결가"]
      volume = df.iloc[idx]["거래량"]
      diff = df.iloc[idx]["변동량"]

      date = day+time.replace(':',"")

      sql = f"REPLACE INTO timely_price VALUES ('{code}', "\
          f"STR_TO_DATE({date}, '%Y%m%d%H%i%s'), {price}, "\
          f"{volume}, {diff})"
      curs.execute(sql)
    conn.commit()

In [ ]:
replace_into_db_timely(df_time, '005930', "삼성전자")

In [ ]:
with conn.cursor() as curs:
  sql = """
  SELECT * FROM timely_price;
  """
  curs.execute(sql)
  rows = curs.fetchall()

  curs.execute(sql)
  row = curs.fetchone()
  while row:
    print(row)
    row = curs.fetchone()
  # cursor 닫기
  curs.close()

('005930', datetime.datetime(2024, 5, 29, 11, 33), 76900, 11402218, 41912)
('005930', datetime.datetime(2024, 5, 29, 11, 34), 76900, 11464036, 61818)
('005930', datetime.datetime(2024, 5, 29, 11, 35), 76800, 11470947, 6911)
('005930', datetime.datetime(2024, 5, 29, 11, 36), 76800, 11486107, 15160)
('005930', datetime.datetime(2024, 5, 29, 11, 37), 76800, 11500343, 14236)
('005930', datetime.datetime(2024, 5, 29, 11, 38), 76800, 11514311, 13968)
('005930', datetime.datetime(2024, 5, 29, 11, 39), 76900, 11535479, 21168)
('005930', datetime.datetime(2024, 5, 29, 11, 40), 76900, 11549558, 14079)
('005930', datetime.datetime(2024, 5, 29, 11, 41), 76900, 11561087, 11529)
('005930', datetime.datetime(2024, 5, 29, 11, 42), 76900, 11561097, 10)
('005930', datetime.datetime(2024, 5, 29, 14, 29), 75500, 22473479, 91781)
('005930', datetime.datetime(2024, 5, 29, 14, 30), 75500, 22810408, 336929)
('005930', datetime.datetime(2024, 5, 29, 14, 31), 75500, 22903718, 93310)
('005930', datetime.datetime(2024, 5, 29, 14, 32), 75500, 22979193, 75475)
('005930', datetime.datetime(2024, 5, 29, 14, 33), 75400, 23066857, 87664)
('005930', datetime.datetime(2024, 5, 29, 14, 34), 75400, 23124216, 57359)
('005930', datetime.datetime(2024, 5, 29, 14, 35), 75300, 23291917, 167701)
('005930', datetime.datetime(2024, 5, 29, 14, 36), 75400, 23347011, 55094)
('005930', datetime.datetime(2024, 5, 29, 14, 37), 75400, 23383406, 36395)
('005930', datetime.datetime(2024, 5, 29, 14, 38), 75400, 23384222, 816)

#기계학습 학습 데이터 가공

In [ ]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from torch.utils.data import DataLoader, TensorDataset

In [ ]:
import pymysql
from datetime import datetime

# 현재 시간을 기준으로 고유한 테이블 이름 생성
timestamp = datetime.now().strftime("%Y%m%d%H%M%S")
table_name = f"merged_data_{timestamp}"

In [ ]:
conn = pymysql.connect(
    host='34.145.60.54',
    user='nyl0522',
    password='0522',
    db='naverdb',
    charset='utf8'
)

In [ ]:
with conn.cursor() as curs:
  sql = """
  SELECT * FROM news_table_last n, timely_price t WHERE n.time = t.date
  """
  curs.execute(sql)
  row = curs.fetchall()
  print(row)
  conn.commit()

((41, '005930', 'https://finance.naver.com//item/news_read.naver?article_id=0002315138&office_id=016&code=005930', 'AMD의 선택...삼성 파운드리 반등 기회', '헤럴드경제', datetime.datetime(2024, 5, 29, 11, 34), '005930', datetime.datetime(2024, 5, 29, 11, 34), 76900, 11464036, 61818), (90, '005930', 'https://finance.naver.com//item/news_read.naver?article_id=0002315138&office_id=016&code=005930', 'AMD의 선택...삼성 파운드리 반등 기회', '헤럴드경제', datetime.datetime(2024, 5, 29, 11, 34), '005930', datetime.datetime(2024, 5, 29, 11, 34), 76900, 11464036, 61818), (181, '005930', 'https://finance.naver.com//item/news_read.naver?article_id=0001164130&office_id=215&code=005930', '삼성전자 노조 파업 선언…창사 55년만에 처음\n동영상기사', '한국경제TV', datetime.datetime(2024, 5, 29, 14, 34), '005930', datetime.datetime(2024, 5, 29, 14, 34), 75400, 23124216, 57359), (188, '005930', 'https://finance.naver.com//item/news_read.naver?article_id=0003899944&office_id=079&code=005930', '밸류업 한다더니…코스피 배당금 4% 증가, 코스닥은 감소', '노컷뉴스', datetime.datetime(2024, 5, 29, 14, 31), '005930', datetime.datetime(2024, 5, 29, 14, 31), 75500, 22903718, 93310), (191, '005930', 'https://finance.naver.com//item/news_read.naver?article_id=0014714976&office_id=001&code=005930', '[연합뉴스 이 시각 헤드라인] - 14:30', '연합뉴스', datetime.datetime(2024, 5, 29, 14, 30), '005930', datetime.datetime(2024, 5, 29, 14, 30), 75500, 22810408, 336929))

In [ ]:
with conn.cursor() as curs:
  sql = """
  CREATE TABLE IF NOT EXISTS combined_data_last (SELECT title, date, price, volume, diff FROM news_table_last n, timely_price t WHERE n.time = t.date );
  """
  curs.execute(sql)
  conn.commit()

In [ ]:
# SQLAlchemy 엔진 생성
engine = create_engine('mysql+pymysql://nyl0522:0522@34.145.60.54:3306/naverdb')
table_name = "combined_data_last"

query = f"SELECT * FROM {table_name}"

# 데이터베이스에서 테이블 조회
merged_df = pd.read_sql_query(query, engine)

In [ ]:
df = merged_df
df

                             title                date  price    volume   diff
0         [속보] 삼성전자 노조 파업 선언…사상 처음 2024-05-29 11:33:00  76900  11402218  41912
1120      [1보] 삼성전자 노조 파업 선언…사상 처음 2024-05-29 11:33:00  76900  11402218  41912
190       [속보] 삼성전자 노조 파업 선언…사상 처음 2024-05-29 11:33:00  76900  11402218  41912
810       [속보] 삼성전자 노조 파업 선언…사상 처음 2024-05-29 11:33:00  76900  11402218  41912
1130           삼성전자 노조, 창사 이래 첫 파업 2024-05-29 11:33:00  76900  11402218  41912
...                            ...                 ...    ...       ...    ...
939           삼성전자 노조, 파업 선언…사상 처음 2024-05-29 11:42:00  76900  11561097     10
119     텍사스인스트루먼트, 행동주의펀드 엘리엇 타깃됐다 2024-05-29 11:42:00  76900  11561097     10
339       [속보] 삼성전자 노조 파업 선언…사상 처음 2024-05-29 11:42:00  76900  11561097     10
1209  [속보] 삼성전자 노조 파업 선언… 창사 이래 처음 2024-05-29 11:42:00  76900  11561097     10
1349   작년 상장사 배당금 30조원 육박…1위는 삼성전자 2024-05-29 11:42:00  76900  11561097     10

[1350 rows x 5 columns]

In [ ]:
# Sort by date to maintain chronological order
df.sort_values('date', inplace=True)

# One-hot encode the 'title' column
encoder = OneHotEncoder(sparse=False)
title_encoded = encoder.fit_transform(df[['title']])

# Combine the encoded titles with the numerical features
numerical_data = df[['price', 'volume', 'diff']].values
data = np.hstack((title_encoded, numerical_data))

# Normalize the numerical features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(data)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
# Create sequences
def create_sequences(data, seq_length):
    xs, ys = [], []
    for i in range(len(data)-seq_length):
        x = data[i:i+seq_length]
        y = data[i+seq_length, -3]  # Predict the 'price' column
        xs.append(x)
        ys.append(y)
    return np.array(xs), np.array(ys)

seq_length = 10  # Example sequence length
X, y = create_sequences(scaled_data, seq_length)

# Convert to PyTorch tensors
X = torch.tensor(X, dtype=torch.float32)
y = torch.tensor(y, dtype=torch.float32)

# Split into train and test sets
split = int(0.8 * len(X))
X_train, X_test = X[:split], X[split:]
y_train, y_test = y[:split], y[split:]

train_dataset = TensorDataset(X_train, y_train)
test_dataset = TensorDataset(X_test, y_test)

train_loader = DataLoader(train_dataset, batch_size=32, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False)

In [ ]:
# Build the LSTM model
class LSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, output_size):
        super(LSTMModel, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True)
        self.fc = nn.Linear(hidden_size, output_size)

    def forward(self, x):
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_size).to(x.device)
        out, _ = self.lstm(x, (h0, c0))
        out = self.fc(out[:, -1, :])
        return out

In [ ]:
input_size = X.shape[2]
hidden_size = 50
num_layers = 2
output_size = 1

model = LSTMModel(input_size, hidden_size, num_layers, output_size)
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

# Train the model
num_epochs = 20
model.train()
for epoch in range(num_epochs):
    for i, (inputs, targets) in enumerate(train_loader):
        outputs = model(inputs)
        loss = criterion(outputs, targets.unsqueeze(1))
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [1/20], Loss: 0.0950
Epoch [2/20], Loss: 0.0014
Epoch [3/20], Loss: 0.0014
Epoch [4/20], Loss: 0.0232
Epoch [5/20], Loss: 0.0025
Epoch [6/20], Loss: 0.0229
Epoch [7/20], Loss: 0.0009
Epoch [8/20], Loss: 0.0018
Epoch [9/20], Loss: 0.0002
Epoch [10/20], Loss: 0.0010
Epoch [11/20], Loss: 0.0141
Epoch [12/20], Loss: 0.0011
Epoch [13/20], Loss: 0.0012
Epoch [14/20], Loss: 0.0005
Epoch [15/20], Loss: 0.0009
Epoch [16/20], Loss: 0.0007
Epoch [17/20], Loss: 0.0028
Epoch [18/20], Loss: 0.0006
Epoch [19/20], Loss: 0.0005
Epoch [20/20], Loss: 0.0009

In [ ]:
# Predict the next day's price
def predict_next_day(model, data, seq_length, scaler):
    model.eval()
    last_sequence = torch.tensor(data[-seq_length:], dtype=torch.float32).unsqueeze(0)
    with torch.no_grad():
        predicted_price = model(last_sequence).item()
    predicted_price = scaler.inverse_transform([[0] * (data.shape[1] - 3) + [predicted_price, 0, 0]])[0, -3]
    return predicted_price

predicted_price = predict_next_day(model, scaled_data, seq_length, scaler)
print(f'Predicted next day price: {predicted_price}')

Predicted next day price: 76906.6253066063